body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #eee;
    font-family: Besley, serif;
}

.header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.header h1 {
    font-size: 32px;
    font-weight: bold;
    margin-left: 8px;
}


.content {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.add-book-btn {
    padding: 16px;
    background-color: rgb(40, 112, 237);
    font-size: 24px;
    color: #eee;
    border: 1px solid #eee;
}

.open-modal {
    background-color: #ddd;
    text-align: center;
    border-radius: 16px;
}



.book-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    padding: 24px;
    margin: 8px;    
}

.text {
    font-size: 20px;
    padding: 8px;
    border: 1px solid #eee;
}

.checker {
    display: flex;
    justify-content: center;
    gap: 8px;
    font-size: 24px;
    margin: 16px;
    font-weight: bold;
}

.modal-btns{
    display: flex;
    justify-content: space-around;
}

.add-btn {
    padding: 8px;
    width: 150px;
    background-color: rgb(40, 112, 237);
    color: #eee;
    border: 1px solid #eee;
    font-size: 18px;
}

.cancel-btn {
    padding: 8px;
    width: 150px;
    font-size: 18px;
    border: 1px solid #eee;
    color: #eee;
    background-color: rgb(233, 62, 62);
}


